.dbkit-table {
    border-collapse: separate;
    border-spacing: 0 20px;
    /* ระยะห่างระหว่างแถวใน tbody */
}

.dbkit-table thead th,
.dbkit-table tbody td {
    padding: 20px;

    /* ระยะห่างระหว่างขอบและเนื้อหา */
}

.dbkit-table tbody tr {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    transition: all 0.3s ease;
}

.dbkit-table tbody tr:hover {
    transform: translateY(-4px);

    box-shadow: 0 0 10px #00000033;
}

.dbkit-table tbody tr:last-child {
    margin-bottom: 0;
}

.dbkit-table thead th {
    background-color: #f27314;

    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 2px solid #dee2e6;

}

.dbkit-table tbody td {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    color: #000000;

}

.badge1 {
    width: 95px;

}

@media (max-width: 2040px) {
    .detail-image1 {
        width: 22px;
        height: 22px;
    }

    #historybadge {
        width: 95px;
    }
}

@media (max-width: 500px) {
    .detail-image1 {
        width: 14px;
        height: 14px;
    }

    .dbkit-table thead th,
    .dbkit-table tbody td {
        padding: 10px;
        font-size: 8px;
    }

    .dbkit-table tbody tr {
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
    }



    .dbkit-table tbody tr:last-child {
        margin-bottom: 20px;
    }

    .dbkit-table thead th {
        font-size: 14px;
    }

    #historybadge {
        width: 45px;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button,
.pagination select {
    background-color: #f27314;
    /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.pagination button:hover {
    background-color: #f5a161;
}

.pagination span {
    background-color: #f27314;
    /* Green */
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
}

.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* ความโปร่งแสงของพื้นหลัง */
    z-index: 1000;
    
}

.modal_content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    /* สีพื้นหลังของ modal */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    /* ขนาดสูงสุดของ modal */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* เงาของ modal */
    z-index: 1001;
    border-radius: 5px;
    
}

.close_button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* เพิ่ม animation เมื่อ modal ปรากฏและหายไป */
@keyframes modal_appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes modal_disappear {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.modal_overlay.show {
    animation: modal_appear 0.3s forwards;
}

.modal_overlay.hide {
    animation: modal_disappear 0.3s forwards;
}